<div *ngIf="item != null" class="backdrop"></div>
<div *ngIf="item != null" class="modal">
  <div class="modal-header">
    <h4
      class="modal-title {{ colors[item.color] }}"
      style.background-image="url('/assets/images/{{ item.ID }}.gif')"
    >
      {{ item.Name }}
      <button
        type="button"
        class="btn-primary btn-sm craft"
        (click)="craft(item.id, item.source)"
      >
        制作
      </button>
    </h4>

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <tr *ngIf="item.isBounded">
        <th>绑定</th>
        <td><span style="color: red;">拾取后绑定</span></td>
      </tr>
      <tr>
        <th>来源</th>
        <td>
          <span *ngFor="let source of item.source">
            {{ getSourceByAbbr(source).name }}
          </span>
        </td>
      </tr>
      <tr>
        <th>制作材料</th>
        <td>
          <table>
            <tr *ngFor="let component of item.components">
              <td>
                <app-item-thumbnail
                  [itemId]="component.itemId"
                ></app-item-thumbnail>
              </td>
              <td>x {{ component.amount }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
