@import "../../..//colors.scss";

.item-filter {
  border: none;
  &:focus,
  &.focus,
  &:active,
  &.active {
    outline: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    border: none;
    box-shadow: inset 0 0 2px black;
  }

  &.gray {
    background-color: $bare-color-gray;
    color: $dark-color-gray;
  }
  &.gray.active {
    background-color: $bright-color-gray;
    color: white;
  }

  &.white {
    background-color: $bare-color-white;
    color: black;
  }
  &.white.active {
    background-color: $bright-color-white;
    color: black;
  }

  &.green {
    background-color: $bare-color-green;
    color: $dark-color-green;
  }
  &.green.active {
    background-color: $bright-color-green;
    color: white;
  }

  &.blue {
    background-color: $bare-color-blue;
    color: $dark-color-blue;
  }
  &.blue.active {
    background-color: $bright-color-blue;
    color: white;
  }

  &.purple {
    background-color: $bare-color-purple;
    color: $dark-color-purple;
  }
  &.purple.active {
    background-color: $bright-color-purple;
    color: white;
  }

  &.orange {
    background-color: $bare-color-orange;
    color: $dark-color-orange;
  }
  &.orange.active {
    background-color: $bright-color-orange;
    color: white;
  }
}
