$bare-color-gray: #eeeeee;
$text-color-gray: #c9c9c9;
$bright-color-gray: #888888;
$dark-color-gray: #444444;

$bare-color-white: #ffffff;
$text-color-white: #ffffff;
$bright-color-white: #ffffff;
$dark-color-white: #dddddd;

$bare-color-green: #ccffcc;
$text-color-green: #50aa50;
$bright-color-green: #009900;
$dark-color-green: #008800;

$bare-color-blue: #99aaff;
$text-color-blue: #5495ff;
$bright-color-blue: #1e40bd;
$dark-color-blue: #000066;

$bare-color-purple: #ffbbff;
$text-color-purple: #c97ac9;
$bright-color-purple: #882288;
$dark-color-purple: #660066;

$bare-color-orange: #ffcc88;
$text-color-orange: #ffb351;
$bright-color-orange: #cc7700;
$dark-color-orange: #bb5500;

$bright-background-color: rgb(60, 83, 78);
$dark-background-color: rgba(20, 43, 38);
