$bare-color-gray: #eeeeee;
$bright-color-gray: #888888;
$dark-color-gray: #444444;

$bare-color-white: #ffffff;
$bright-color-white: #ffffff;
$dark-color-white: #dddddd;

$bare-color-green: #ccffcc;
$bright-color-green: #009900;
$dark-color-green: #008800;

$bare-color-blue: #99aaff;
$bright-color-blue: #1133aa;
$dark-color-blue: #000066;

$bare-color-purple: #ffbbff;
$bright-color-purple: #882288;
$dark-color-purple: #660066;

$bare-color-orange: #ffcc88;
$bright-color-orange: #cc7700;
$dark-color-orange: #bb5500;
