/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";

* {
  transition: all 0.1s ease;
}

body {
  // background-color: #555555;
  // color: white;
  padding: 10px;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", Roboto, "Helvetica",
    sans-serif;
}

.tab-pane {
  padding: 10px;
}

.drop-shadow {
  text-shadow: 1px 1px 1px black;
}

.centerAlign {
  text-align: center;
}

.pagination {
  margin: 10px;
}
