@import "./colors.scss";

.item-inline {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: text-shadow ease 0.2s;
    text-shadow: 0 0 1px gray;
  }

  &.item-color-0 {
    color: $color-0-dark;
  }

  &.item-color-1 {
    color: $color-1-darkest;
  }

  &.item-color-2 {
    color: $color-2-dark;
  }

  &.item-color-3 {
    color: $color-3-dark;
  }

  &.item-color-4 {
    color: $color-4-dark;
  }

  &.item-color-5 {
    color: $color-5-dark;
  }
}

.card {
  max-width: 320px;
  margin: auto;
}
