@import "../../../../colors.scss";

.itemName {
  cursor: pointer;
  font-size: 0.9em;
  padding: 3px;
  width: 170px;
  max-width: 100%;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 30px;
  list-style-type: none;
  background-color: $dark-background-color;
  text-shadow: 0 0 2px black;
  text-emphasis: stroke;
  &.gray {
    color: $text-color-gray;
  }
  &.white {
    color: $text-color-white;
  }
  &.green {
    color: $text-color-green;
  }
  &.blue {
    color: $text-color-blue;
  }
  &.purple {
    color: $text-color-purple;
  }
  &.orange {
    color: $text-color-orange;
  }
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}
