<div class="centerAlign">
  <p>JX3中所有已知物品</p>

  <div class="btn-group btn-group-toggle">
    <label class="item-filter gray" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.gray" />灰
    </label>
    <label class="item-filter white" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.white" />白
    </label>
    <label class="item-filter green" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.green" />绿
    </label>
    <label class="item-filter blue" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.blue" />蓝
    </label>
    <label class="item-filter purple" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.purple" />紫
    </label>
    <label class="item-filter orange" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="filteredColor.orange" />橙
    </label>
  </div>

  <p>
    <input type="text" [(ngModel)]="filteredKeyword" placeholder="搜索" />
  </p>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="filteredItems.length"
    class="d-flex justify-content-center"
  ></ngb-pagination>
  <ul>
    <li
      *ngFor="
        let item of filteredItems
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
      <app-item-thumbnail [itemId]="item.ID"></app-item-thumbnail>
    </li>
  </ul>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="filteredItems.length"
    class="d-flex justify-content-center"
  ></ngb-pagination>
</div>
