$color-0-lighter: #eeeeee;
$color-0-light: #c9c9c9;
$color-0-dark: #888888;
$color-0-darker: #444444;

$color-1-lighter: #ffffff;
$color-1-light: #ffffff;
$color-1-dark: #ffffff;
$color-1-darker: #dddddd;
$color-1-darkest: #000000;

$color-2-lighter: #ccffcc;
$color-2-light: #50aa50;
$color-2-dark: #009900;
$color-2-darker: #008800;

$color-3-lighter: #99aaff;
$color-3-light: #5495ff;
$color-3-dark: #1e40bd;
$color-3-darker: #000066;

$color-4-lighter: #ffbbff;
$color-4-light: #c97ac9;
$color-4-dark: #882288;
$color-4-darker: #660066;

$color-5-lighter: #ffcc88;
$color-5-light: #ffb351;
$color-5-dark: #cc7700;
$color-5-darker: #bb5500;

$color-description-light: rgb(52, 180, 112);

$color-background-light: rgba(60, 83, 78, 0.9);
$color-background-dark: rgba(20, 43, 38, 0.9);
