<div class="card">
  <h2>Disclaimer</h2>
  <p>
    This software is provided freely on an "as is" and "as available" basis, and
    you agree that you use such software entirely at your own risk.
  </p>
  <p>
    The author gives absolutely no warranty and accepts no responsibility or
    liability for the compliance of JX3 EULA. Under no circumstances will the
    author be held responsible for any claims, damages, losses, expenses, costs,
    or liabilities including, without limitation, any direct or indirect damages
    for loss of profits, business interfuption, loss of information or
    suspension of accounts resulting or arising directly or indirectly from your
    use of or inability to use this software or any tools derived from this
    software.
  </p>
  <p>
    Source code available on
    <a href="https://github.com/gentlespoon/Gs-JX3-Assistant" target="_blank"
      >GitHub</a
    >. MIT Licensed.
  </p>
  <p>&copy; GentleSpoon. All rights reserved.</p>
</div>
